@CHARSET "UTF-8";
  	.conceptSelected {background:#eee}
	.conceptUnselected {background:white}
	.demoTable td {padding: 3px; font: 10pt arial;}
	.demoTable th {padding: 3px; font: 10pt arial;}
	div#vertLineDiv {border-left:3px solid black; height:100%; background:white;}

    .queryGroupInclude {text-align:left;width:330px; height:35px;padding:5px;background:white;font:8pt arial;white-space:nowrap;overflow:auto;border:1px solid black}
    .queryGroupIncludeSmall {text-align:left;width:230px; height:35px;padding:5px;background:white;font:8pt arial;white-space:nowrap;overflow:auto;border:1px solid black}
    .queryGroupIncludeLong {text-align:left;width:230px; height:135px;padding:5px;background:white;font:8pt arial;white-space:nowrap;overflow:auto;border:1px solid black}
 	.queryGroupExclude {text-align:left;width:330px; height:35px;padding:5px;background:lightgrey;font:8pt arial;white-space:nowrap;overflow:auto;border:1px solid black}

.GVNullValues {
    color:#d3d3d3;
}

.conceptDistributionPlaceholder {
    display: block;
    padding: 0 !important;
    background-color: transparent !important;
    background-position: center !important;
    background-size: 10% !important;
    width: 245px;
    height: 180px;
}

div.topall {
	padding-top:4px;
	background: #fafafa url(../images/skin/shadow30.jpg);
font-family:verdana,arial,helvetica,sans-serif;
font-size:12px;
font-size-adjust:none;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:normal;
}

#topbar {
	height:24px;
	padding-left:3px;
	font-size:11px;
	padding-top:6px !important;
	float:left;
}

#topuser {
	height:24px;
	padding: 0px 4px 0px;
	padding-bottom:2px !important;
	font-size:11px;
	padding-top:6px !important;
}


.toplink1{
	padding-left:1px;
	margin-right:.73em;
	vertical-align:bottom;
	font-weight:bold;
}

a.toplink1{
	color:#00c !important;
	vertical-align:bottom;
	font-weight: bold;
	background: #fafafa url(../images/skin/shadow30.jpg);
	text-decoration:none;
}
a.toplink1:hover{
	text-decoration:underline;
	}
.nextbutton{
    background-image:url(../images/next.png ) !important;
}

.clearbutton{
    padding-left: 20px !important;
    background-image:url(../images/small_cross.png ) !important;
    background-position: 6px 50%;
}
.runbutton{
	background-image:url(../images/runprog.png ) !important;
	}
.exportbutton{
	background-image:url(../images/fileexport.png ) !important;
	}	
.comparebutton{
	background-image:url(../images/compare.png ) !important;
	}
.summarybutton{
	background-image:url(../images/summary.png ) !important;
	}
.hleaficon
	{
	background-image:url(../images/dna_icon.png ) !important;
	}
.valueicon{
	background-image:url(../images/numeric.gif ) !important;
}
.alphaicon{
	background-image:url(../images/alpha.gif ) !important;
}
.foldernumericicon{
	background-image:url(../images/folder_numeric.png ) !important;
	}	
.modifierfoldericon{background-image:url(../images/modifierfolder.png) !important;}
.modifiericon{background-image:url(../images/ONT_MODIFIER_leaf.gif) !important;}
.printbutton{background-image:url(../images/printer.png ) !important;}
.savebutton{
	background-image:url(../images/disk.png ) !important;
	}

.progress-spinner {
    background: url(../images/spinner.gif) 0px 0px / 16px 16px no-repeat transparent;
    display:inline-block;
    height: 16px;
    width: 16px;
}

.progress-error {
    background: url(../images/remove.png) 0px 0px / 16px 16px no-repeat transparent;
    display:inline-block;
    height: 16px;
    width: 16px;
}

.progress-completed {
    background: url(../images/green_check2.png) 0px 0px / 16px 16px no-repeat transparent;
    display:inline-block;
    height: 16px;
    width: 16px;
}

.jleafclass
	a span {

    color: #33cc33;
    padding: 1px 3px 1px 2px;
    text-decoration: none;
	}
	
.gbhblank{
border-top:1px solid #c9d7f1;
font-size:1px;
height:0;
position:absolute;
top:30px;
width:100%;
 background: #fafafa url(../images/skin/shadow30.jpg);
}


a.button:active {
    background-position: bottom right;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
    border: 1px inset;
}
a.button:active span {
    padding: 1px 0 1px 1px; /* push text down 1px */
} 
a.button {
    color: #444;
    display: block;
    float: right;
    font: normal 12px arial, sans-serif;
    height: 24px;
    margin-right: 2px;
    padding-right: 5px; /* sliding doors padding */
    text-decoration: none;
    border: 1px outset;
}
a.button span {
    display: block;
    line-height: 14px;
    padding: 4px 1px 4px 4px;
} 
.button:hover{
    color:#d12f19;
    cursor: pointer;
}

 .ext-ie .x-form-text {position:static !important;}

.x-tree-node-leaf .x-tree-node-icon{background-image:url(../images/nonaccessible.gif);}

div.analysis {
	font-family: arial;
	font-size: 8pt;
	padding-bottom: 50px;
}
div.analysis div {
	font-size: 8pt;
}
table.analysis {
	border-width: 1px 1px 1px 1px;
	border-spacing: 4px;
	border-style: outset outset outset outset;
	border-color: gray gray gray gray;
	border-collapse: collapse;
	background-color: white;
	font-family: arial;
	font-size: 8pt !important;
}
table.analysis th {
	border-width: 1px 1px 1px 1px;
	padding: 5px 5px 5px 5px;
	border-style: inset inset inset inset;
	border-color: gray gray gray gray;
	background-color: white;
	-moz-border-radius: 12px 12px 12px 12px;
	font-weight: bold;
	
}
table.analysis td {
	border-width: 1px 1px 1px 1px;
	padding: 5px 5px 5px 5px;
	border-style: inset inset inset inset;
	border-color: gray gray gray gray;
	background-color: white;
	-moz-border-radius: 12px 12px 12px 12px;
}

div.analysistitle {
	font-size: 12pt !important;
	font-weight: bold;
	font-family:arial;
	padding-bottom: 20px;
}

div.analysissubtitle {
	font-size: 10pt !important;
	font-family:arial;
	font-style: italic;
	color: #7c7c7c;
	padding-bottom: 5px;
	margin-bottom: 15px;
}

div.smalltitle {
	padding-bottom: 5px !important;
}


	.searchform {
	font:12px tahoma, arial, helvetica, sans-serif;
	}
.search-item {font:normal 11px tahoma, arial, helvetica, sans-serif;padding:3px 10px 3px 10px;border:1px solid #fff;border-bottom:1px solid #eeeeee;white-space:normal;color:#505050;}
.search-item h3 {font:inherit;font-weight:bold;color:#202020;}
.search-item span {font-size:10px;color:#468528;}


.contextHelpBtn {
	background-image:url(../images/help/helpicon_gray.jpg ) !important;
	color:#ff0000;	
}
	
.x-tool-sampleExplorerHelpButton {
	background-image:url(../images/help/helpicon_gray.jpg ) !important;
	color:#ff0000;	
}

table.detail {
    border-collapse:collapse;
    width: 100%;
    border:1px solid #ccc;
     font: 10px verdana, arial, helvetica, sans-serif;
}

table.detail td {
	 font: 10px verdana, arial, helvetica, sans-serif;
     padding: 5px 3px;
     text-align: left;
     vertical-align: top;
     border-bottom:1px solid #ccc;
}

table.detail td.name {
	font-weight:bold;
	background-color:#fff;
}

table.detail td.value {
background-color:#bbb;
}

td.prop, td.name {line-height: normal;}

table.AnalysisResults {
		font: 12px tahoma,arial,helvetica,sans-serif;
		border-width: 1px;
		border-style: solid;
		border-color: gray;
		background-color: white;
		border-collapse:collapse;
	}

table.AnalysisResults td {
		border-width: 1px;
		border-style: solid;
		border-color: gray;
		background-color: white;
		padding:10px;
		white-space: nowrap;		
	}

table.AnalysisResults th {
		font: 12px tahoma,arial,helvetica,sans-serif;
		font-weight:bold;
		border-width: 1px;
		border-style: solid;
		border-color: gray;		
		padding:10px;
		text-align:left;
		white-space: nowrap;
	}

table.AnalysisResults td.blankCell{
		border: 0px;
	}

/* workspace subset datatable style*/
#subsets_length{
    float: right;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#subsets_filter{
    float: right;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#subsets_info{
    float: left;
    margin-left: 10px;
    margin-top: 5px;
}

#subsets_paginate{
    float: right;
    margin-top: 5px;
    margin-bottom: 5px;
}

#subset_manager_name{
    float: left;
    margin: 10px;
}

.DataTables_sort_icon{
    float: right;
    display: inline-block;
}

/** workspace report datatable style **/

#reports_length{
    float: right;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#reports_filter{
    float: right;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#reports_info{
    float: left;
    margin-left: 10px;
    margin-top: 5px;
}

#reports_paginate{
    float: right;
    margin-top: 5px;
    margin-bottom: 5px;
}

#report_manager_name{
    float: left;
    margin: 10px;
}

/* --------------------------------------------- */
/* Analysis Results with sorting functionality. */
table.tablesorterAnalysisResults {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	text-align: left;
}
table.tablesorterAnalysisResults thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
	white-space: nowrap;	
}
table.tablesorterAnalysisResults thead tr .header {
	background-image: url('../images/bg.gif');
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
	white-space: nowrap;	
}
table.tablesorterAnalysisResults tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
	white-space: nowrap;	
}
table.tablesorterAnalysisResults tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorterAnalysisResults thead tr .headerSortUp {
	background-image: url(../images/asc.gif);
}
table.tablesorterAnalysisResults thead tr .headerSortDown {
	background-image: url(../images/desc.gif);
}
table.tablesorterAnalysisResults thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}
/* --------------------------------------------- */

span.AnalysisHeader {
		font: 14px tahoma,arial,helvetica,sans-serif;
		font-weight:bold;
	}
a.AnalysisLink {
		font: 14px tahoma,arial,helvetica,sans-serif;
		font-weight:bold;
	}
	
.utilities-div {
    position:absolute;
    width:100px;
    top:0;
    right:0;
    height:24px;
    z-index:100;
}	
		
@page { 
size: letter landscape;
margin: 0.25in; 
-fs-flow-top: "header";
-fs-flow-bottom: "footer";
-fs-flow-left: "left";
-fs-flow-right: "right";
border: 0px;
padding: 1em;
}

#header {
position: absolute; top: 0; left: 0; 
-fs-move-to-flow: "header";
}

#footer {
font-size: 90%; font-style: italic; 
position: absolute; top: 0; left: 0;
-fs-move-to-flow: "footer";
}


#pagenumber:before {
content: counter(page); 
}

#pagecount:before {
content: counter(pages);  
}

.dialog-modal {
	font: 11px arial,tahoma,helvetica,sans-serif;
	font-weight:normal;
}

#mask{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    display: none;
    z-index: 9999;
}

.x-tool-help {
	background-image: url("../images/help/tool-sprites-rdc.gif");
    background-position: 0 -300px;
}

.flatbutton {
	background-repeat: no-repeat;
	font-family: Arial, sans-serif;
	font-size: 12px;
	padding: 4px 4px 4px 4px;
	border: 1px solid #CCC;
	cursor: pointer;
	border-radius: 2px;
}

.flatbutton:hover {
	background-color: #b2b2b2;
	background-repeat: no-repeat;
}

/* Overrides for ext CSS */

ul.x-tab-strip-top {
	padding: 0;
	background: none;
    background-color:#FFF;
}

.x-tab-strip-top a.x-tab-right {
	background: none;
	background-image: none;
}

.x-tab-strip-top em.x-tab-left {
	background: none;
	background-image: none;
	
}

.x-tab-strip-top .x-tab-strip-inner {
	background: none;
	background-image: none;
}

li.x-tab-strip-active {
	background-image: url('../images/uiTabsArrow.png');
	background-repeat: no-repeat;
	background-position: 50% 10px;
	height: 22px;
}

.x-tab-strip-active span.x-tab-strip-text {
	color: #786;
}

.x-tab-strip span.x-tab-strip-text {
	font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
	font-size: 8pt;
}

.x-tab-strip-top .x-tab-strip-active .x-tab-right {
	margin-bottom: 0px;	
}

.x-tab-panel-header, .x-tab-panel-footer {
	background: none;
	background-image: none;
	border: none;	
}

.x-panel-body {
       border: none;
       background-image:url('../images/local_logo.jpg') !important;
       background-repeat: no-repeat !important;
    background-position: 95% 95% !important;
    background-attachment: fixed !important;
}

.x-tab-panel-body {
	border: none;
}

#westPanel {
	background-color: white;
}

.x-layout-split {
	background-color: #EDEEF6;
}

/* Dreadful override - find out where query panel background color is actually set and replace this! */

#queryPanel .x-panel-bwrap .x-panel-body {
	background-color: white !important	
}

.x-grid3-row .conceptUnselected, .x-grid3-row .conceptSelected {padding: 0 0 5px 5px; font-size: .85em;}
.data-export-filter-tip {color: #666; font-style: italic}


.no-close .ui-dialog-titlebar-close {display: none }

.modifierValueDialog .ui-dialog-titlebar {
	padding: 0.2em;
}

.modifierValueDialog .ui-dialog-content {
	width: 500px;
}

#divjobstatus {
	padding: 10px;
}

#divjobstatus td {
	line-height: 18px;
}

#divjobstatus img {
	max-height: 15px;
}
